name: Deploy gh-pages

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip Sphinx furo
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        python3 -m pip install --use-feature=in-tree-build ./python/_restclient[develop]
        python3 -m pip install --use-feature=in-tree-build ./python/nwis_client[develop]
        python3 -m pip install --use-feature=in-tree-build ./python/caches[develop]
        python3 -m pip install --use-feature=in-tree-build ./python/gcp_client[develop]
        python3 -m pip install --use-feature=in-tree-build ./python/events[develop]
        python3 -m pip install --use-feature=in-tree-build ./python/metrics[develop]
    - name: Build Sphinx documentation
      run: |
        cd docs/
        make html
        git checkout --track origin/gh-pages 
        rsync -ac _build/html/ ../
        cd ..
        rm -rf docs
        if [[ $(git status --porcelain | wc -l) -gt 0 ]]; then
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add -A
          git commit -m "Deploy gh-pages"
          git push origin gh-pages
        fi
