name: hydrotools.svi_client

on:
  push:
    paths:
    - 'python/svi_client/**'
  pull_request:
    paths:
    - 'python/svi_client/**'
    workflow_dispatch:

jobs:
  unittests:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python3 -m pip install -U pip
        python3 -m pip install ./python/svi_client[develop]
    - name: Echo dependency versions
      run: |
        python3 -m pip freeze
    - name: Run unittests 
      run: |
        python3 -m pytest -s -m "not slow" ./python/svi_client/
